/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vibur&display=swap');

html,
body,
#root{
  height: 100%;
}

body{
  margin: auto;
  font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Login Component */

.login-section, .register-section{
  background-color: #EEF5CE;
  padding-top:  80px;
  width: 100%;
  height: 90%;
}

.styled-login-form, .register-styled-form{
  padding: 20px;
  background-color: #fff;
  margin: 0 auto;
  width: 500px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.styled-login-form h1, .register-styled-form h1{
  padding-bottom: 20px;
}

.styled-login-form input, .register-styled-form input{
  padding: 5px 10px;
  margin: 10px;
}

.styled-login-form button, .register-styled-form button{
  margin-top: 20px;
  background-color: #006D6C; 
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}


.styled-login-form p{
  margin-top: 10px;
}

/* Register */

.register-error-messages{
  padding-top: 20px;
}

/* Header */

.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    background: #bada55;
    transition: all 0.7s ease-in-out;
    user-select: none!important;
}

.nav-items-one{
    display: flex;
    width: 100%;
}

.nav-items-two{
  width: 20%;
}

.nav-items-one li, .nav-items-two li{
    list-style: none;
    padding: 1.5em;
    float: right;
}

.nav-items-one li a, .nav-items-two li a{
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.checkout, .order-info{
  font-family: 'Poppins';
  background-color: #fff;
  padding: 20px 0 20px 25px;
}
.order-info table{
  padding-top: 20px;
}

.order-total{
  font-weight: 800;
  padding-top: 20px;
}


.order-info table td{
  width: 300px;
}

.order-total{
  font-weight: 800;
}

.logo{
    float: left;
    padding: 18px 1.4em;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.nav-items-two{
    display: flex;
}

.nav-buttons button{
    float: right;
    background: #bada55;
    border: none;
    padding: 0.7em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


nav h1{
  margin: 0;
}

.App{
  height: 90%;
}

 /* MainContent */

main{
  background-color: #EEF5CE;
  height: 100%;
  width: 100%;
}


/* Catalog  */
.catalog{
  overflow: auto;
}

.catalog-filter{
  background-color: #EEF5CE;
  padding: 20px;
}

.catalog-filter h1{
  padding-bottom: 20px;
}

.catalog-filter label{
  margin-left: 10px;
  display: inline-block;
}

.catalog-filter input{
  margin-left: 10px;
  display: inline-block;
}

.catalog-filter button{
  margin-top: 20px;
  background-color: #006D6C; 
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

/* Product */
.product-button{
  margin-top: 20px;
  margin-left: 5px;
  background-color: #006D6C; 
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.checkout-button, .remove-button{
  margin-top: 20px;
  margin-left: 5px;
  background-color: #006D6C; 
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.styled-cart{
  overflow: auto;
}
.table-cart{
  margin-top: 20px;
}

.table-cart thead{
  font-weight: 800;
}

.table-cart td{
  width: 100px;
  text-align: center;
  vertical-align: center;
}

.product-info{
  margin-left: 10px;
}
.first-section{   
    width: 100%;
    padding: 1.5%;
}


.first-section-one{
  float: left;
  padding-left: 20px;
}


.first-section-two{
  float: left;
  padding-left: 20px;
}

.first-section-two h1{
  font-family: 'Poppins';
  font-size: 2.5em;
  color: #006D6C;
}


.first-section-two p{
  font-family: 'Poppins';
  color: #238878;
}



.first-section-two span{
  font-family: 'Vibur';
  color: #006D6C;
}

.first-section-three{
  float: right;
}

.second-section{   
  background-color: #bada55;
  font-family: 'Poppins';
  width: 100%;
  height: 300px;
  padding: 20px;
}

.second-section h1{
  margin-bottom: 5px;
  color: #fff;
}

.second-section hr{
  margin-bottom: 25px;
  border: 1px solid #006D6C;
  height: 5px;
  width: 40px;
  background: #333;
}
.second-section-card{
  float: left;
  width: 200px;
  height: 170px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #EEF5CE;
  margin: 0 10% 0 0;
  border-radius: 8px;
  padding: 10px 20px;
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
}

.second-section-card img{
  margin-top: 10px;

}

.search-button{
  margin-top: 20px;
  background-color: #006D6C; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.styled-cart{
  font-family: 'Poppins';
  background-color: #fff;
  padding: 20px 0 20px 25px;
  border-radius: 5px;
}

.styled-cart h1{
  padding: 0;
}

.checkout-btn{
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 10px;
}

.checkout input{
  padding: 5px 10px;
  margin: 10px;
}

/* Footer */

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #006D6C;
  color: #fff;
  height: 10%;
  padding: 20px 0;
}
